{% load i18n %}

<div class="recommenderBlock">
    <div class='recommender_recommenderModify'>
        <div class='recommender_recommenderModifyTitleContainer'>
            <div class='recommender_recommenderModifyTitle'>{% trans "Configuration setting" %}</div>
        </div>
        <div class="recommender_setRecommenderConfig">
            <div class="recommender_setRecommenderConfigTitle">{% trans "Set the student-view, client side configurations for RecommenderXblock." %}</div>
                <div class="config">
                    <select name='introEnable' class='introEnable'>
                        <option value='true'{% if intro_enabled %} selected='selected'{% endif %}>{% trans "Yes" %}</option>
                        <option value='false'{% if not intro_enabled %} selected='selected'{% endif %}>{% trans "No" %}</option></select>
                    <span>{% trans "Do you want to take users on a little tour when they see the RecommenderXBlock first time?" %}</span>
                </div>
                <div class="config">
                    <select name='developedUXDisable' class='developedUXDisable'>
                        <option value='true'{% if configurations.disable_dev_ux %} selected='selected'{% endif %}>{% trans "Yes" %}</option>
                        <option value='false'{% if not configurations.disable_dev_ux %} selected='selected'{% endif %}>{% trans "No" %}</option>
                    </select>
                    <span>{% trans "Do you want to disable the UX functions which are under development?" %}</span>
                </div>
                <div class="config">
                    <select name='entriesPerPage' class='entriesPerPage'>
                        {% for i in entries_per_page_options %}
                        <option value='{{ i }}'{% if configurations.entries_per_page == i %} selected='selected'{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    <span>{% trans "How many resources you want to show in each page of the resource list?" %}</span>
                </div>
                <div class="config">
                    <select name='pageSpan' class='pageSpan'>
                        {% for i in page_span_options %}
                        <option value='{{ i }}'{% if configurations.page_span == i %} selected='selected'{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    <span>{% trans "How many page icons in pagination control (i.e., page range)? The icons for pages from (current page - page range) to (current page + page range) will be shown." %}</span>
                </div>
                <input type="button" value="Set configurations" class="recommender_configSubmit"/>
            </div>
        </div>
    </div>
</div>
